[Unit]
Description=Phone Home Reverse SSH Service
ConditionPathExists=|/usr/bin
After=network.target

[Service]
User={{ ssh_call_home_user }}
ExecStart=/usr/bin/ssh-call-home {{ ssh_call_home_user }}@{{ ssh_call_home_host }}
# Restart every >2 seconds to avoid StartLimitInterval failure
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
