######################################
#                                    #
#  This file is managed by ansible!  #
#                                    #
######################################

{{ mosquitto_acl }}
