[Service]
ExecStart=/opt/windmachine/venv/bin/python -u /opt/windmachine/firmware/wp_firmata.py
WorkingDirectory=/opt/windmachine/firmware
Restart=always
RestartSec=10
User=display
Group=display
EnvironmentFile=/etc/windmachine/display.env

[Unit]
After=network-online.target

[Install]
WantedBy=multi-user.target
