[Service]
ExecStart=/opt/windmachine/venv/bin/python /opt/windmachine/firmware/display.py
WorkingDirectory=/opt/windmachine/firmware
Restart=always
RestartSec=3
User=display
Group=display
EnvironmentFile=/etc/windmachine/display.env

[Unit]
After=network-online.target

[Install]
WantedBy=multi-user.target
