[Service]
ExecStart=/opt/windmachine/firmware/wp_visuals/wp_visuals
WorkingDirectory=/opt/windmachine/firmware/wp_visuals
Restart=always
RestartSec=10
User=display
Group=display
EnvironmentFile=/etc/windmachine/display.env

[Unit]
After=network-online.target

[Install]
WantedBy=multi-user.target
