/wp_visuals
/wp_visuals_reload

*.cache
*.gch
*.gch
*.iwyu
*.la
*.lo
*.log
*.o
*.pch
*.plist
*.status
*.tidy
*.trace
*tar.gz
.*.swp
.deps
.dirstamp
/.libs
/Makefile
/Makefile.in
/TAGS
/aclocal.m4
/build
/build-aux
/compile
/config.h*
/configure
/depcomp
/install-sh
/libtool
/missing
/stamp-h1
core
perf.data*
compile_commands.json
